<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="\css\main.css">
<link rel="stylesheet" href="\css\database.css">
</head>

<body>
    <div class="container">
        <div class="title">
            <h1>Database</h1>
        </div>
    <div class="navigation">
        <%- include('includes/navigation.ejs') %>
        <div class="page-header">
            <h3>Overview</h3>
        </div>
        <div class="line"></div>
        <form id="queryForm">
            <div class="form-group">
                <label for="queryName">Query by Name: </label>
                <input type="text" id="queryName" name="queryName" required>
            </div>
            <button type="submit">Lookup</button>
        </form>
        <div id="query-container">
            <p id="query-message"> <span id="query_name"> </span></p>
        </div>
        <p><%= dbName %></p>
        <p>Average Monthly Income: <%= avgIncome %> Click to view</p>
        <p>Average Monthly Expenses: <%= avgExpense %> Click to view</p>
        <p>Average Monthly Savings: <%= avgSaving %> Click to view</p>
        <p>Average Monthly Debt: <b><%= avgDebt %></b> Click to view</p>
    </div>
        <script>
            document.getElementById('queryForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const queryName = document.getElementById('queryName').value;
            console.log(queryName);
            try {
                const response = await fetch('/getByName', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ queryName })
                })

            if (!response.ok) {
                const errorText = await response.text();
                throw new Error(`Server error: ${response.status} - ${errorText}`);
            }
                const data = await response.json();
                if(data.query != undefined)
                    document.getElementById('query-container').innerText = `Information for ${queryName}: ${data.query}`;
                else
                document.getElementById('query-container').innerText = "The name " + queryName + " was not found in database";
            } catch(err) {
                console.error('Database fetch error:', err);
                document.getElementById('query-container').innerText = 'Error fetching data for '+ queryName + ' from database';
                }
            })
        </script>
    </div>
</body>
</html>