<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="\css\main.css">
</head>
<body>
    <h1>Financial Summary</h1>
    <%- include('includes/navigation.ejs') %>
    <p>Net Savings: <strong><%= netSavings.toFixed(2) %></strong></p>
    <p>Savings Goal Status: <strong><%= goalStatus %></strong></p>
    <p><%= name %>, you have entered your financial information into the database for the month of <%= month %>.</p>
    <a href="/">Go Back</a>
</body>
</html>
